body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

.logoja{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.logoja img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.img-recepsioni{
    width: 500px;
    height: 500px;
    background-image: url(../assets/images/Recepsioni.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 75px;
    left: 180px;
}

.text h1{
    color: black;
    font-size: 45px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 0%;
    left: 625px;
}

.text p{
    color: rgb(116, 111, 111);
    position: relative;
    margin-top: 0px;
    left: 625px;
    white-space: pre-line;
    padding-right: 0px;
    line-height: 25px;
}



.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-top: 1px solid #a3a3a3 ;
    border-bottom: 1px solid #a3a3a3;
    font-family: "Poppins";
}

.navbar img{
    margin: 0 10px;
}

.navbar ul{
    display: flex;
    width: 80%;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar ul li{
    margin: 0 10px;
}

.navbar a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all ease-in 0.2s;
}

.navbar a:hover{
    font-family: Poppins;
    color: #8f859e;
}


.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    height: 300px;
    width: 100%;
    background-image: url(https://livedemo00.template-help.com/wt_51453/images/breadcrumbs-01.jpg);
    color: white;
    font-family: "Poppins";
}

.header h1{
    font-family: Poppins;
    font-size: 60px;
    margin: 0;
}

.header a{
    font-family: "Poppins";
    color: #dfdfdf;
    text-decoration: none;
    transition: all ease-in 0.2s;
}

.header a:hover{
    color: white;
}

.header p{
    font-size: 20px;
    margin-top: 20px;
}


.rooms-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.rooms-main h1{
    font-family: "Poppins";
}

.rooms-main p{
    font-family: "Poppins";
}

.table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: "Poppins";
}

.table-cell {
    position: relative;
    width: 33.33%;
    padding: 10px;
    overflow: hidden;
}

.table-image {
    width: 100%;
    height: auto;
    transition: filter 0.3s;
}

.table-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: none;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.table-cell:hover .table-overlay {
    display: block;
}

.reviews-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8vw;
    padding-top: 6px;
    padding-bottom: 80px;
    text-align: center;
    background-color: rgb(70, 70, 70);
    color: white;
    margin: 40px 0;
    font-family: "Poppins";
    height: 600px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(50, 50, 50);
    width: 53vw;
    height: 27vw;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: -8px -8px 3px rgb(143, 133, 158);
}

.review-card {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(50, 50, 50);
}

.profile-container {
    margin-top: 0;
    margin-bottom: 10px;
}

.profile-picture-small {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 6px 20px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 20px;
}

.profile-picture-small.active {
    transform: scale(1.02);
    border: 3px solid rgb(143, 133, 158);
}

.profile-picture-small:hover {
    transform: scale(1.02);
    border: 3px solid rgb(143, 133, 158);
}

.reviewer-name {
    color: rgb(143, 133, 158);
    font-size: 0.8vw;
    margin-top: 10px;
}

.review-text {
    font-weight: lighter;
    font-size: 1vw;
    max-width: 30vw;
    margin: auto;
}

.review-title {
    font-weight: bold;
    font-size: 1.7vw;
}

.team-main {
    margin: 3vw auto;
    font-family: "Poppins";
}

.team-main-title {
    text-align: center;
    font-size: 4vw;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1vw;
}

.team-member {
    position: relative;
    width: 15vw;
    margin: 1vw;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: -0.5vw -0.5vw 0.025vw rgb(143, 133, 158);
}

.member-img {
    width: 100%;
    height: auto;
}

.team-member:hover {
    box-shadow: -1vw -1vw 0.25vw rgb(143, 133, 158);
}

.team-member:hover .member-img {
    filter: brightness(0.3);
}

.member-info {
    text-align: center;
    padding: 1vw;
    background-color: #fff;
}

.member-name {
    margin-bottom: 0.5vw;
}

.social-icons {
    height: 1.5vw;
    position: absolute;
    top: 6vw;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding-left: 2px;
}

.social-icons img {
    margin: 2px;
}

.social-icons a {
    display: inline-block;
    margin: 0 0.5vw;
    text-decoration: none;
    color: #333;
    font-size: 1vw;
}

.team-member:hover .social-icons {
    display: flex;
}

.member-title {
    font-size: 0.8vw;
    color: rgb(143, 133, 158);
}

.member-name {
    font-size: 1vw;
}

footer{
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(243, 243, 243);
    align-self: center;
    width: 80vw;
    font-family: "Poppins";
}
.footer-main{
    display: flex;
    flex-direction: grid;
    justify-content: space-between;

}
.footer-main div{
    margin: 20px;
}
.footer-copyright{
    float: right;
    color:rgb(155, 155, 155) ;
    font-size: small;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: rgb(143, 133, 158);
}
.footer-weekendweekdays{
    color: rgb(143, 133, 158);

}
.footer-newsletter-textfield{
    display: block;
    width: 90%;
    padding: 1vw;
    margin: 0.5vw;
    border: none;
}
.footer-newsletter-subscribebtn{
    padding: 10px;
    width: 100px;
    border: none;
    color:white;
    background-color:rgb(143, 133, 158) ;
    transition: transform 0.05s ease, background-color 0.5s ease;
    margin: 5px;
    border-radius: 5px;

}
.footer-location-icon,.footer-call-icon{
    height: 15px;
    margin-right: 10px;
}
.footer-socials-icon{

    margin: 5px;
    height:35px;
    width: 35px;
}
.footer-socials{
    text-align: center;
    margin-left: 15px;
}
.footer-socials-icon:hover{
    transform: scale(1.05);
}
.footer-main-opening{

    justify-content: left;
}

.footer-newsletter-subscribebtn:hover{
    transform: scale(1.02);
    background-color: rgb(152, 143, 165) ;
}

button#backToTopBtn {
    opacity: 0;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    padding: 10px;
    background-color:#8f859e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

button#backToTopBtn.show {
    opacity: 1;
}

