*{
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

.logoja{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.logoja img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-top: 1px solid #a3a3a3 ;
    border-bottom: 1px solid #a3a3a3;
    font-family: "Poppins";
}


.navbar img{
    margin: 0 10px;
}

.navbar ul{
    display: flex;
    width: 80%;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar ul li{
    margin: 0 10px;
}

.navbar a{
    font-family: "Poppins";
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all ease-in 0.2s;
}

.navbar a:hover{
    color: #8f859e;
}

.navbar a:focus{
    color: #8f859e;
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 0px;
    right: 0px;
    height: 300px;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/3435213/pexels-photo-3435213.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    color: white;
    font-family: "Poppins";
    margin-top: 20px;
}

.contacts h1{
    font-family: Poppins;
    font-size: 60px;
    margin: 0;
}

.contacts a{
    font-family: "Poppins";
    color: #dfdfdf;
    text-decoration: none;
    transition: all ease-in 0.2s;
}

.contacts a:hover{
    color: white;
}

.contacts p{
    font-size: 20px;
    margin-top: 20px;
}

.components{
    padding-top: 65px;
    padding-bottom: 10px;
}

.shell{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.form{
    width: 60%;
    height: 100%;
    margin: 15px auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: block;
}

#h2{
    font-size: 50px;
    color: black;
}

.form p{
    font-size: 16px;
    margin-top: 20px;
    color: #cbcbcb;
}

.form input[type=text]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 55px;
    color: #000;
    border: none;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.form input[type=tel]{
    width: 40%;
    height: 55px;
    padding: 12px 20px;
    margin: 8px 0;
    color: #000;
    border: none;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    color: #aeaeae;
    background-color: #f1f1f1;
    font-size: 16px;
    resize: none;
}

.form input[type=email]{
    width: 60%;
    height: 55px;
    padding: 12px 20px;
    margin-right: 6px;
    color: #000;
    border: none;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.form input[type=submit]{
    padding: 8px;
    width: 20%;
    height: 53px;
    border: none;
    color: white;
    background-color: rgb(143, 133, 158);
    transition: transform 0.05s ease, background-color 0.5s ease;

    border-radius: 5px;
}
.form input[type=submit]:hover{
    transform: scale(1.02);
    background-color: rgb(152, 143, 165);
}
.form-email-send{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.elemets{
    padding-top: 25px;
    font-size: 16px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.social, .phone, .addres, .opening{

        width: 70%;
}
.social ul{
    position: relative;
    display: flex;
    align-items: flex-start ;
    flex-direction:row;
    padding: 0;

}
.social ul li{
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}
.social ul li a img{
    display: inline-block;

    width: 25px;
    height: 25px;
}
.phone ul{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction:row;
    padding: 0;
}
.phone ul li{
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}
.phone ul li img{
    display: inline;

    width: 25px;
    height: 25px;
}
.phone ul li a{
    font-family: "Poppins";
    color: black;
    text-decoration: none;
    transition: all ease-in 0.2s;
}
.phone ul li a:hover{
    color: #8F859E;
}

.addres {
    margin-top: 2px;
}
.addres ul{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction:row;
    padding: 0;
}
.addres ul li{
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}
.addres ul li img{
    display: inline;

    width: 25px;
    height: 25px;
}
.addres ul li a{
    font-family: "Poppins";
    color: black;
    text-decoration: none;
    transition: all ease-in 0.2s;
}
.addres ul li a:hover{
    color: #8F859E;
}
.opening ul{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction:row;
    padding: 0;
}
.opening ul li{
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}
.opening ul li img{
    display: inline;
    width: 25px;
    height: 25px;
}
.opening ul li a{
    font-family: "Poppins";
    color: black;
    text-decoration: none;
    transition: all ease-in 0.2s;
}

.opening ul li p:hover {
    color: #8F859E;
}

.opening p {
    margin-bottom: 1px;
}





footer{
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(243, 243, 243);
    align-self: center;
    width: 80vw;
    font-family: "Poppins";
}
.footer-main{
    display: flex;
    flex-direction: grid;
    justify-content: space-between;

}
.footer-main div{
    margin: 20px;
}
.footer-copyright{
    float: right;
    color:rgb(155, 155, 155) ;
    font-size: small;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: rgb(143, 133, 158);
}
.footer-weekendweekdays{
    color: rgb(143, 133, 158);

}
.footer-newsletter-textfield{
    display: block;
    width: 90%;
    padding: 1vw;
    margin: 0.5vw;
    border: none;
}
.footer-newsletter-subscribebtn{
    padding: 10px;
    width: 100px;
    border: none;
    color:white;
    background-color:rgb(143, 133, 158) ;
    transition: transform 0.05s ease, background-color 0.5s ease;
    margin: 5px;
    border-radius: 5px;

}
.footer-location-icon,.footer-call-icon{
    height: 15px;
    margin-right: 10px;
}
.footer-socials-icon{

    margin: 5px;
    height:35px;
    width: 35px;
}
.footer-socials{
    text-align: center;
    margin-left: 15px;
}
.footer-socials-icon:hover{
    transform: scale(1.05);
}
.footer-main-opening{

    justify-content: left;
}

.footer-newsletter-subscribebtn:hover{
    transform: scale(1.02);
    background-color: rgb(152, 143, 165) ;
}

