body{
    box-sizing: border-box;
    
}
.parent-list{
    list-style-type: square;
    color: rgb(143, 133, 158);
    font-size: large;
    margin: 5vh;

}
.faq-list {
    list-style: none;
    padding: 0;
    list-style-type: disc;
    color: rgb(70, 70, 70);
}

.question {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.answer {
    display: none;
    margin-bottom: 15px;
}

.question:hover {
    text-decoration: underline;
}
footer {
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(243, 243, 243);
    align-self: center;
    width: 80vw;
}

.footer-main {
    display: flex;
    flex-direction: grid;
    justify-content: space-between;

}

.footer-main div {
    margin: 20px;
}

.footer-copyright {
    float: right;
    color: rgb(155, 155, 155);
    font-size: small;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: rgb(143, 133, 158);
}

.footer-weekendweekdays {
    color: rgb(143, 133, 158);

}

.footer-newsletter-textfield {
    padding: 10px;

    border: none;
}

.footer-newsletter-subscribebtn {
    padding: 10px;
    width: 100px;
    border: none;
    color: white;
    background-color: rgb(143, 133, 158);
    transition: transform 0.05s ease, background-color 0.5s ease;
}

.footer-location-icon,
.footer-call-icon {
    height: 15px;
    margin-right: 10px;
}

.footer-socials-icon {

    margin: 5px;
    height: 35px;
    width: 35px;
}

.footer-socials {
    text-align: center;
    margin-left: 15px;
}

.footer-socials-icon:hover {
    transform: scale(1.05);
}

.footer-main-opening {

    justify-content: left;
}

.footer-newsletter-subscribebtn:hover {
    transform: scale(1.02);
    background-color: rgb(152, 143, 165);

}