
@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}


body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



.logoja{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.logoja img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-top: 1px solid #a3a3a3 ;
    border-bottom: 1px solid #a3a3a3;
    font-family: "Poppins";
}


.navbar img{
    margin: 0 10px;
}

.navbar ul{
    display: flex;
    width: 80%;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar ul li{
    margin: 0 10px;
}

.navbar a{
    font-family: "Poppins";
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all ease-in 0.2s;
}

.navbar a:hover{
    color: #8f859e;
}

.navbar a:focus{
    color: #8f859e;
}



.carousel-n-booking{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 50px auto;
}

.carosuel-container{
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    font-family: "Poppins";
}

  .carousel-card{
    width: 80px;
    border-radius: 25px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50px;
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0 ,0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.carousel-card > .card-row{
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.carousel-card > .card-row > .card-icon{
    background-color: #8f859e;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.carousel-card > .card-row > .card-description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: 0.3s;
    transition: all 0.3s ease;
}

.card-description p{
    color:  #fff ;
    padding-top: 5px;
}

.card-description h4{
    text-transform: uppercase;
}

input{
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .card-description{
    opacity: 1 !important; 
    transform: translateY(0) !important;
}

.carousel-card[for="c1"] {
    background-image: url("../assets/images/slide-01.jpg");
}
.carousel-card[for="c2"] {
    background-image: url("../assets/images/slide-02.jpg");
}
.carousel-card[for="c3"] {
    background-image: url("../assets/images/slide-03.jpg");
}

#booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: inherit;
    margin: 50px auto;
    border-radius: 12px;
    background-color: #e3e3e3;
    font-family: "Poppins";
}

.booking-form {
    height: inherit;
    width: 90%;
    box-sizing: border-box;
    padding: 2px;
    
}

.form-input {
    display: block;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #8f859e;
    outline: none;
    background: #ffffff;
    transition: background 0.2s, border-color 0.2s;
    color: #9c9c9c;
}

button#formBtn{
    padding: 12px 32px;
    margin: 10px 4px;
    background-color: #8f859e;
    border-color: #8f859e;
    color: white;
    transition: all  ease-in 0.3s;
}

button#formBtn:hover{
    background-color: #eeee;
    border-color: #8f859e;
    color: #8f859e;
}

.abt-us-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 500px;
    margin: 100px auto;
    font-family: "Poppins";
    color: #fff;
}

.abt-us-home video{
    width: auto;
    height: auto;
}

.image-overlay-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    color: #fff;
}

.play-button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 80px;
}

.abt-us-text{
    display: flex;
    width: 50%;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abt-us-video{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
    width: 60%;
    overflow: hidden;
    margin-right: 40px;
}

.abt-us-video:hover .image-overlay-1{
    opacity: 1;
}


.abt-us-video img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}



.abt-us-text h1{
   width: 80%;
   margin: 20px 0;
   padding: 0 20px;
}

.abt-us-text p{
    width: 80%;
    margin: 0;
    padding: 0 20px;
}

.abt-us-text .schedule-home{
display: flex;
flex-direction: column;
width: 80%;
margin: 20px 0;
padding: 0;
}




.pool-section{
display: flex;
width: 100%;
height: 500px;
margin: 100px auto;
background-color: #f3f3f3;
font-family: "Poppins";
}

.pool-section .formating-div{
display: flex;
align-items: center;
justify-content: space-between;
height: 100%;
width: 90%;
margin: 0 auto;
}

.pool-section .pool-text p{
margin: 20px 0;
width: 80%;
font-size: 15px;
color: #9c9c9c
}

.pool-section .pool-text #poolBtn{
padding: 12px 32px;
background-color: #8f859e;
border-color: #8f859e;
color: #fff;
transition: all ease-in 0.3s;
}

.pool-section .pool-text #poolBtn:hover{
background-color: transparent;
color: #8f859e;
}


.pool-section .pool-container{
    position: relative;
}

.image-overlay-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.502);
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.pool-container:hover .image-overlay-2{
    opacity: 1;
}


.pool-section .pool-container img{
    object-fit: cover;
}





.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 100px auto;
}

.blog h1{
    width: 100%;
    border-bottom: 1px solid #8f859e;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.blog .col-md-8{
    background-color: transparent;
    color: #000;
    transition: all ease-in-out 0.3s;
}


.blog .col-md-8:hover{
    background-color: #8f859e;
    color: #fff;
    cursor: pointer;
}

.blog .col-md-8:hover p{
    border-top: 1px solid #fff;
}


.blog .col-md-8 img{
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    transition: all ease-in 0.3s;
}


.blog .col-md-8:hover img{
    border-color: #fff;
    background-color: #fff;
}




.card-body .card-text{
    text-align: left;
    margin-top: 70px;
    padding-top: 20px;
    border-top: 1px solid #8f859e;
        
}


.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container label,
.filter-container select,
.filter-container button {
    margin-right: 10px;
}
.filter-container select{
    border-color: #8f859e;
    color: #8f859e;
    padding: 5px 10px;
    border-radius: 12px;
    border: 1px solid #8f859e;
}
.filter-container button{
    background-color: #8f859e;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 12px;
}
.filter-container button:hover{
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(143, 133, 158, 1) 0%, rgba(151, 135, 175, 1) 84%);}


/*FOOTER*/
footer{
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(243, 243, 243);
    align-self: center;
    width: 80vw;
    font-family: "Poppins";
}
.footer-main{
    display: flex;
    flex-direction: grid;
    justify-content: space-between;

}
.footer-main div{
    margin: 20px;
}
.footer-copyright{
    float: right;
    color:rgb(155, 155, 155) ;
    font-size: small;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: rgb(143, 133, 158);
}
.footer-weekendweekdays{
    color: rgb(143, 133, 158);

}
.footer-newsletter-textfield{
    display: block;
    width: 90%;
    padding: 1vw;
    margin: 0.5vw;
    border: none;
}
.footer-newsletter-subscribebtn{
    padding: 10px;
    width: 100px;
    border: none;
    color:white;
    background-color:rgb(143, 133, 158) ;
    transition: transform 0.05s ease, background-color 0.5s ease;
    margin: 5px;
    border-radius: 5px;

}
.footer-location-icon,.footer-call-icon{
    height: 15px;
    margin-right: 10px;
}
.footer-socials-icon{

    margin: 5px;
    height:35px;
    width: 35px;
}
.footer-socials{
    text-align: center;
    margin-left: 15px;
}
.footer-socials-icon:hover{
    transform: scale(1.05);
}
.footer-main-opening{

    justify-content: left;
}

.footer-newsletter-subscribebtn:hover{
    transform: scale(1.02);
    background-color: rgb(152, 143, 165) ;
}


button#backToTopBtn {
    opacity: 0;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    padding: 10px;
    background-color:#8f859e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity,  0.3s ease-in-out;
}

button#backToTopBtn.show {
    opacity: 1;
}