@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
body {
    --color-primary: #8F859E;
    --color-primary-dark: #dcd1d5;
    --color-seconday: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(../assets/images/background-image-login.jpg);
    background-size: cover; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7); /* Background color and opacity */
    z-index: -1; /* Position the overlay behind other content */
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: #ffff;
}

.container,
.form-input,
.form-button{
    font-family: 'Poppins';
}

.logoja {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.logoja img{
    width: 200px;
    height: 90px;
    object-fit: cover;
    border-bottom: 1px solid black;
}
.form-hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form-title{
    margin-bottom: 0.5rem;
    margin-top: 2px;
    text-align: center;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form-message {
    text-align: center;
    margin-bottom: 1rem;
}

.form-message-success {
    color: var(--color-success);
}

.form-message-error {
    color: var(--color-error);
}

.form-input-group {
    margin-bottom: 1rem;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form-input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form-input-error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form-input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form-button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: poiner;
    background: var(--color-primary);
    transition: all ease-in 0.3s;
}

.form-button:hover{
    background: var(--color-primary-dark);
}

.form-button:active {
    transform: scale(0.98);
}

.form-text {
    text-align: center;
}

.form-link {
    color: var(--color-seconday);
    text-decoration: none;
    cursor: pointer;
}

.form-link:hover{
    text-decoration: underline;
}

.form-button.form-button-disabled {
    background: var(--color-primary-dark);
    cursor: not-allowed;
    pointer-events: none;
}

.form-button.form-button-disabled:hover {
    background: var(--color-primary-dark);
    /* Adjust the hover effect for disabled button as needed */
}

.human-verification {
    margin: 0px;
}

.human-verification p{
    margin: 0px;
    margin-bottom: 0.5rem;
}
.drop-zone {
    outline-style: dashed;
    border-radius: 60%;
    width: 2rem; 
    height: 2rem;
    display: flex;
    align-items: center;
    margin-top: 2px; 
    background-color: white;
}

.figure-box {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    border-radius: 35px;
    padding: 10px;
    border: 1px solid #000;
}

.draggable-figure {
    display: flex;
    align-items: flex-end;
}

.verification-result {
    margin-top: 0px;

}

.terms-link {
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: underline;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 60%;
    height: 80%;
}

.close-btn img{
    cursor: pointer;
    justify-content:  right;

}
#terms-download{
    padding: 6px;
    text-decoration: none;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    text-align: center;
    margin: 1px auto;
}
#terms-download:hover{
    background: radial-gradient(circle, rgba(143, 133, 158, 1) 0%, rgba(96, 84, 115, 1) 100%);   
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.terms-text{
    font-size: 1rem;
    color: white;
    background-color:#d3d2d4 ;
    margin: 20px auto;
    max-width: 60%;
    overflow: scroll;
    height: 80%;
}
.popup-title{
    margin: 0;
}
mark{
    background-color: #c0bac8;
}
.newsletter-radio-main{
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #8F859E;
}
.newsletter-radio-main form{
    padding: 0px;
}